/* Arquivo CSS: toastStyles.css */

.toast-container {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com leve transparência */
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  /* Sucesso */
  .toast-success {
    background-color: #28a745; /* Cor verde para sucesso */
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  /* Erro */
  .toast-error {
    background-color: #dc3545; /* Cor vermelha para erro */
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  /* Informativo */
  .toast-info {
    background-color: #17a2b8; /* Cor azul para informações */
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  /* Aviso */
  .toast-warning {
    background-color: #ffc107; /* Cor amarela para avisos */
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  /* Barra de progresso suave */
  .toast-progress-bar {
    background-color: rgba(255, 255, 255, 0.3);
    height: 4px;
  }
  